@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #f9fafb;
    --text-color: #1f2937;
    --card-bg-color: #ffffff;
    --card-text-color: #1f2937;
    --bmi-bg-color: #1f2937; /* Dark background for light mode */
    --bmi-text-color: #f9fafb; /* Light text for light mode */
  }
  
  [data-theme='dark'] {
    --bg-color: #1f2937;
    --text-color: #f9fafb;
    --card-bg-color: #374151;
    --card-text-color: #f9fafb;
    --bmi-bg-color: #ffffff; /* Light background for dark mode */
    --bmi-text-color: #1f2937; /* Dark text for dark mode */
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }